* {
	font-family: 'Shrikhand', cursive;
}
h1 {
	margin: 0 auto;
	text-align: center;
}
#board{
	width: 350px;
	height: auto;
	text-align: center;
	margin: 0 auto;
}
.square{
	width: 100px;
	float: left;
	height: 60px;
	border: 1px solid white;
	background-color: rgba(244, 179, 66, .8);
	font-size: 50px;
	padding: 20px 0;
}
button {
	margin: 0 auto;
}
#buttonBox{
	text-align: center;
}
/*.x {
	background-color: blue;
}*/
.y {

}